    <!DOCTYPE>  
    <html>  
    <head>  
    <style>  
    h1{  
    color:white;  
    background-color:red;  
    padding:5px;  
    }  
    p{  
    color:blue;  
    }  
    </style>  
    </head>  
    <body>  
    <h1>this is the First CSS Example</h1>  
    <p>This is second modification to the repo.</p> 
    <p>This is the last modification but in a diff branch </p>
    </body>  
    </html>  
